/* color scheme
*/
:root{
    --primary-color:#1B2021;
    --secondary-color:#007749;
    --gold-color:#FFB81C;
    --red-color: #A41623;
    --light-green-color: #D5F2E3;
    --medium-green-color: #BBCEA8;
    --light-gray-color: #EDF1F2;
}


/*
    extend bootstrap utility classes start
    **********************************************  
*/
.py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.py-7{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.py-8{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.pt-6{
    padding-top: 6rem;
}

.mb-6{
    margin-bottom: 6rem;
}

.mt-6{
    margin-top: 6rem;
}

/*
    extend bootstrap utility classes end
    **********************************************  
*/


/*
    nav bar styles start
    **********************************************
*/
.navbar {
    background-color: var(--primary-color)  !important;
}

.navbar-brand {
    color: var(--light-green-color); /* Set text color */
    font-weight: bold; /* Make the text bold */
    font-size:1.5rem; /* settext-primary font size*/
}

.navbar-brand:hover {
    color: var(--gold-color); /* Set text color */
    font-weight: bold; /* Make the text bold */
}

.navbar-brand.foot {
   
    font-weight: bold; /* Make the text bold */
    font-size:1.5rem; /* settext-primary font size*/
}

.navbar-brand.foot:hover {

    font-weight: bold; /* Make the text bold */
    font-size:1.5rem; /* settext-primary font size*/
}

footer a{
    color: var(--gold-color);
    text-decoration: none;
}

footer a.bg-anchor{
    padding: 5px;
    background-color: #002c1b;
}

footer a:hover{
    color: var(--medium-green-color);
}


.nav-link{
    color: var(--medium-green-color);
    font-weight: bolder;
    font-size: 1rem;
}

.nav-link:hover{
    color: var(--gold-color);
    font-weight: bolder;
}

/* Active link style */
.navbar-nav .nav-link.active {
    color: var(--gold-color); /* Set active link text color */
}

.navbar-toggler{
    background-color: var(--gold-color);
}

/*
    nav bar styles end
    **********************************************
*/


/*
    General styles start
    **********************************************
*/
.helpp{
    cursor:help;
}
/*
    General styles end
    **********************************************
*/



/*
    Home styles start
    **********************************************
*/

/* ----------- whoami --------------*/
#whoami span a, #jamaica-beauty span a{
    text-decoration: none;
    color: var(--red-color);
}


#whoami span a:hover, #jamaica-beauty span a:hover{
    text-decoration: none;
    color: var(--secondary-color);
}

#whoami img{
    opacity: 0.7;
}

#whoami img:hover{
    opacity: 1;
}

#jamaica-beauty > section > div a#discoverja{
    color: var(--red-color);
}

#jamaica-beauty > section > div a#discoverja:hover{
    color: var(--secondary-color);
}

#faqs-slangs hr{
    margin-left: auto;
    margin-right: auto;
}

#jamrockCarousel h5 {
    color: var(--secondary-color);;
    text-transform: uppercase;
}
.bg-carousel-title{
    padding:5px;
    border-radius: 7px;
    text-transform: uppercase;
    color: var(--gold-color);
    background-color: #002c1b;
    opacity: 0.8;
}

.bg-carousel-text{
    padding:5px;
    border-radius: 7px;
    color: #002c1b;
    background-color: white;
    opacity: 0.5;
}
/*
    Home styles end
    **********************************************
*/


/*
    backgound color styles start
    **********************************************
*/
.bg-primary{
    background-color: var(--primary-color) !important;
}

.bg-green{
    background-color: var(--secondary-color);;
}

.bg-md-green{
    background-color: var(--medium-green-color);
}

.bg-li-green{
    background-color: var(--light-green-color);
}

.bg-li-gray{
    background-color: var(--light-gray-color);
}

.bg-third{
    background-color: var(--gold-color);
}

.bg-red{
    background-color: var(--red-color);
}
/*
    backgound color styles end
    **********************************************
*/


/*
    text styles start
    **********************************************
*/
header section div h1.text-primary{
    color: var(--medium-green-color) !important;
}

.text-primary{
    color: var(--secondary-color) !important;
}

.text-secondary{
    color: var(--red-color) !important;
}

.text-third{
    color: var(--gold-color);
}

.text-md-green{
    color: var(--medium-green-color);
}

.text-li-green{
    color: var(--light-green-color);
}

.text-red{
    color: var(--red-color);
}

/*
    text styles end
    **********************************************
*/


/*
    element styles start
    **********************************************
*/
h3{
    color: var(--red-color) !important;
}

hr{
    border: 1px solid red;
}

dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }

  dd a{
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
  }

#ytvid{
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px #002c1b;
}

#header-wrapper{
    background: rgba(4, 57, 29, 0.7) url('https://images.pexels.com/photos/19565413/pexels-photo-19565413/free-photo-of-drone-shot-of-rockhouse-hotel-in-montego-bay.jpeg');
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;
}

#jamaica-beauty{
    background: rgba(10, 12, 12, 1) url('https://cdn.pixabay.com/photo/2013/07/12/17/01/bob-marley-151687_960_720.png');
    background-attachment:fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:overlay;
}


.food-img{
    position: relative;
}


.food-img h3{
    position: absolute;
    top: 50%;
    left: 50%;
}

.music-img{
    position: relative;
}

.beach-img{
    position: relative;
}

.music-img img, .food-img img, .beach-img img{
    height:100%;
    object-fit: cover;
}


#music .music-img h3{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--gold-color) !important;
}

#beach .beach-img h3{
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--gold-color) !important;
}



.video-container.popout {
    position: fixed; /* Initially fixed position */
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
    transition: width 0.3s, height 0.3s, right 0.3s, bottom 0.3s;
    z-index: 100; /* set the z-index to keep popped out video above all other page elements */
}

.popin-video{
    display: none;
    text-transform: none;
    text-decoration: none;
}

.popin-video:hover{
    color: var(--red-color);
}

.center-element{
    margin:0 auto;
}
/*
    element styles end
    **********************************************
*/



/*
    button styles start
    **********************************************
*/
.btn-primary{
    color: white;
    background-color: var(--red-color);
    border-radius: 10px;
    font-weight:normal;
    border:none;
}


.btn-primary:hover{
    background-color: var(--secondary-color);
    border:none;
}

.accordion-button:focus{
    color: var(--gold-color);
}


/*
    button styles end
    **********************************************
*/



/*
    Hobies styles start
    **********************************************
*/

.card-title{
    color: var(--gold-color);
    font-weight: bolder;
}

.card-text{
    color: var(--medium-green-color);
    font-weight:lighter;
}


#activities .card img{
    opacity: 0.7;
}

#activities .card img:hover{
    opacity: 1;
}

/*
    Hobbies styles end
    **********************************************
*/


